.dataTable{    
    margin: 20px;
    background: $pa-white;
    /* width: 100%; */
    margin: 0px 30px;  
    box-sizing: border-box;
    min-height: calc(100vh - #{$header-height});
    padding: 20px;
    .companyDetails {
        height: 60px;
        font-size: 31px;
        font-weight: bold;
        margin: 0 0 30px 0;
        border-bottom: 10px solid #fafafa;
        padding: 0 0 70px 0;
        color: $pa-blue;
    }
    .search {
        color: $pa-blue;
        padding: 10px;
        margin: 0 0 30px 0;
        border: 1px solid grey;
    }
    table tr td{
        color: #333333
    }
}